html,
body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    min-width: 350px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
header {
    flex: 0 1;
}

main {
    flex: auto;
    overflow-y: auto;
    padding-bottom: 150px;
}

footer {
    flex: none;
}

header {
    margin-bottom: 1rem;
    width: 100%;
    /*box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);*/
}

.title-bar {
    padding: 0.5rem 1rem;
}
.title-bar hr {
    border-top: 1px solid #868e96;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.summary {
    font-size: 1.2em;
}

.btn-link {
    padding: 0;
}

form {
    margin: 0;
}

.table-fixed {
    table-layout: fixed;
}

.nav-tabs {
    margin-bottom: 15px;
}

td,
th {
    font-size: 1rem;
}

span.btn-link {
    cursor: pointer;
}

.transition-ease {
    transition: all 5s ease;
}

.center-content {
    max-width: 1200px;
    margin: auto;
}
.form-control[readonly] {
    background-color: white;
}
/* make all form-controls smaller */
.form-control {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(1.8125rem + 2px);
}

.ui-datepicker {
    width: auto;
}

.margin-l-20 {
    padding-left: 20px;
}
.pad-v-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
hr.sm {
    margin-top: 5px;
    margin-bottom: 5px;
}

body.show-template-wrappers .template-view-wrapper {
    border: 1px solid blue;
}

body.show-template-wrappers .template-layout-wrapper {
    border: 1px solid orangered;
}

body.show-template-wrappers .template-wrapper > .template-label {
    font-size: 9px;
    color: gray;
    padding: 1px;
    border: 1px solid gray;
}
