.dollar-negative {
    color: #dc3545;
}

.dollar-negative:after {
    content: ')';
}

.dollar-negative:before {
    content: '(';
}

.form-control-ms {
    padding: 0;
}

.ms-choice {
    border: none;
}

.ms-parent.form-control {
    padding: 0px;
    width: 100% !important;
}

.text-disabled {
    color: #96a5b3 !important;
    font-style: italic;
}
