.dollar-negative {
    color: #dc3545;
}

.dollar-negative:after {
    content: ')';
}

.dollar-negative:before {
    content: '(';
}

.form-control-ms {
    padding: 0;
}

.ms-choice {
    border: none;
}

.ms-parent.form-control {
    padding: 0px;
    width: 100% !important;
}

.text-disabled {
    color: #96a5b3 !important;
    font-style: italic;
}
.bg-dark {
    color: white;
}
.full-width {
    margin-left: -15px;
    margin-right: -15px;
}

.fixed-bottom-right-circle-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.50;
}
