.navbar {
    padding: 0 1rem;
    position: absolute;
    z-index: 1000;
    min-width: 50%;
    line-height: 1.5;
}
.navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-brand {
    flex: 1;
}
.navbar-nav {
    display: flex;
    flex-direction: column !important;
}

.navbar .badge {
    line-height: 1.5;
    margin-left: 10px;
}

.nav-item .fa {
    font-size: 12px;
    padding-right: 10px;
}
.nav-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #ccc;
}

.nav-section {
    padding-left: 25px;
}

.navbar-light {
    background-color: white;
    border: 1px solid #ccc;
}

.navbar-blue {
    background-color: #00008f;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-blue .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .dropdown-menu {
    background-color: #343a40 !important;
    border: none;
}
.navbar-dark .dropdown-item {
    color: rgba(255, 255, 255, 0.5);
}
.navbar-dark .dropdown-item:focus,
.navbar-dark .dropdown-item:hover {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    background-color: inherit;
}
